        <footer>
            <div class="row">
                <ul class="footer-nav">
                    <li><a href="/pages/register.php">Dealership Signup</a></li>
                    <li><a href="/pages/register.php">Individual Signup</a></li>
                    <li><a href="/pages/privacy.php">Terms of Use</a></li>
                    <li><a href="/pages/privacy.php">Privacy Policy</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="row social-icons">
                <a href="https://m.facebook.com/REV-1852118748423970/?ref=bookmarks"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://twitter.com/rev_token" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="https://www.youtube.com/channel/UCNEfqUH7_W5ZQxziloG7K5A?view_as=subscriber" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
                <a href="https://www.instagram.com/rev_token/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="https://www.reddit.com/user/REV_Token/" target="_blank"><ion-icon name="logo-reddit"></ion-icon></a>
                <a href="https://www.linkedin.com/company/rev-token/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
            </div>
        </footer>
    
    
    <!-- jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Waypoints -->
    <script src="/vendors/js/jquery.waypoints.min.js"></script>
    <!-- Ion-Icons -->
    <script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>
    <!-- Native Javascript file -->
    <script src="/resources/js/script.js"></script>

    <script>

        $(".toggleForms").click(function() {
                
                $("#signUpForm").toggle();
                $("#logInForm").toggle();
                $("#signUp").toggle();
                $("#logIn").toggle();
                
            })

    </script>

    </body>

</html>